@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
$font-family-sans-serif: "Poppins", sans-serif;

$light: #f0e6ef;
$primary: #9c89b8;
$secondary: #f0a6ca;
$success: #e3f2fd;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
